body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
}

/* navbar */
.active {
    text-decoration: underline !important;
    text-decoration-color: orange !important;
}
.logo {
	margin: -10px;
    padding: 0;
    width: 120px;
    height: 40px;
}

/* sliders */
.slider-store-img {
	/*margin: 0 auto;*/
	padding: 0 20px;
}
.slider-offer-img {
	margin: 0 auto;
	padding: 0 5px;
}
.slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
	font-size: 40px
}
.slick-arrow.slick-prev, .slick-arrow.slick-next {
    position: absolute;
    -webkit-text-fill-color: orange;
    text-decoration: none;
	padding: 5%;
	z-index: 1000;
}
.slick-arrow.slick-next {
	padding: 15%;
}

/* sections */
.sections-container .sections-heading {
	font-size: 14px;
	/*font-family: Roboto;*/	
}
.sections-boxes{
	padding: 20px 150px;
}
.sections-boxes-mobile{
	padding: 20px 100px;
}
.sections-img {
	/*margin: 0 auto;*/
	padding: 0;
	/*max-width: 200px;*/
}
.donde-img {
	max-width: 180px;	
	max-height: 70px;
	display:block;
	margin: 20px;
}
/* commons */
.center {
	text-align: center;
}
.footer-color {
    background-color: #f8f8f8;
}
.footer-url {
	padding: 5px;
}
.footer-icon {
	padding: 5px;
    width: 32px;
}
.footer-imgs{
	display: inline-flex;
}
.more-info-btn {
	color: white;
	background-color: green;
	font-size: 14px;
}
.padding {
	padding: 20px;
}
.hospital-section {
	padding-top: 20px;
	padding-left: 10%;
}
/*.header-pic{width: 900px;height: 600px;}*/
/*.navbar li {margin-top: 15px;}*/
